*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

header{
    height: 200px;
    background-color: goldenrod;
    
}
main{
    
    color: goldenrod;
    background-color: black;
    height: calc(100vh - 200px);

}
.yellow{
    color: goldenrod;
}
.bordery{
    border: goldenrod 5px solid;
}

img{
    width: 50%;
}

.content{
    margin: 10px;
}
.texw{
    font-size: x-large;
}

.pointer{
    cursor: pointer;
}

